@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-section);
}

.section {
  width: 100%;
  height: auto;
  padding: var(--padding-section);
}

.button-navigation {
  display: flex;
  border: 2px solid #fff;
  border-radius: 5px;
  /* padding: 3px; */
}

a {
  /* height: 2em; */
  font-size: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--font-color);
  transition: 0.4s;
  padding: 3px;
}
a svg {
  margin: 0 3px;
}

/* SCROLL BAR ////////////////////////////////////////////////////*/
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background-color: var(--background-color-component);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  width: 80px;
  background-color: var(--background-grey);
  border-radius: 10px;
}
/* SCROLL BAR ///////////////-END-/////////////////////////////////////*/

@media (hover: hover) {
  a:hover {
  }
}

@media (min-width: 1024px) {
}
